/* basic start */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: initial;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Bungee', cursive;
    font-size: 18px;
    line-height: normal;
    color: #39aec8;
}


/* basic end */


/* style start */

.infoWrapp {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.infoWrapp span {
    display: inline-block;
    margin-bottom: 6px;
    font-size: 18px;
}

.mainTitle {
    font-size: 60px;
    padding: 0;
    margin: 0;
    margin-bottom: 6px;
}

.mainSection {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.waveWrapper {
    position: absolute;
    overflow: hidden;
    top: 40%;
    width: 100%;
    height: 100px;
}

.traffic1 {
    width: 200%;
    height: 100%;
    background-size: 10% 100px;
}

.traffic2 {
    width: 200%;
    height: 100%;
    background-size: 10% 100px;
    opacity: 0.4;
}

.traffic3 {
    width: 200%;
    height: 100%;
    background-size: 10% 100px;
    opacity: 0.6;
}


/* style end */


/* animation start */

.blinkAnimation {
    -webkit-animation-name: blink;
    animation-name: blink;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.traffic1 {
    -webkit-animation: move_wave 10s linear infinite;
    animation: move_wave 10s linear infinite;
}

.traffic2 {
    -webkit-animation: move_wave2 7s linear infinite;
    animation: move_wave2 7s linear infinite;
}

.traffic3 {
    -webkit-animation: move_wave3 15s linear infinite;
    animation: move_wave3 15s linear infinite;
}

@-webkit-keyframes move_wave {
    0% {
        -webkit-transform: translateX(0) translateZ(0) scaleY(1);
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        -webkit-transform: translateX(-25%) translateZ(0) scaleY(1.1);
        transform: translateX(-25%) translateZ(0) scaleY(1.1)
    }
    100% {
        -webkit-transform: translateX(-50%) translateZ(0) scaleY(1);
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

@keyframes move_wave {
    0% {
        -webkit-transform: translateX(0) translateZ(0) scaleY(1);
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        -webkit-transform: translateX(-25%) translateZ(0) scaleY(1.1);
        transform: translateX(-25%) translateZ(0) scaleY(1.1)
    }
    100% {
        -webkit-transform: translateX(-50%) translateZ(0) scaleY(1);
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

@-webkit-keyframes move_wave2 {
    0% {
        -webkit-transform: translateX(0) translateZ(0) scaleY(1);
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        -webkit-transform: translateX(-25%) translateZ(0) scaleY(1.1);
        transform: translateX(-25%) translateZ(0) scaleY(1.1)
    }
    100% {
        -webkit-transform: translateX(-50%) translateZ(0) scaleY(1);
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

@keyframes move_wave2 {
    0% {
        -webkit-transform: translateX(0) translateZ(0) scaleY(1);
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        -webkit-transform: translateX(-25%) translateZ(0) scaleY(1.1);
        transform: translateX(-25%) translateZ(0) scaleY(1.1)
    }
    100% {
        -webkit-transform: translateX(-50%) translateZ(0) scaleY(1);
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

@-webkit-keyframes move_wave3 {
    0% {
        -webkit-transform: translateX(-50%) translateZ(0) scaleY(1);
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
    50% {
        -webkit-transform: translateX(-25%) translateZ(0) scaleY(1.1);
        transform: translateX(-25%) translateZ(0) scaleY(1.1)
    }
    100% {
        -webkit-transform: translateX(0%) translateZ(0) scaleY(1);
        transform: translateX(0%) translateZ(0) scaleY(1)
    }
}

@keyframes move_wave3 {
    0% {
        -webkit-transform: translateX(-50%) translateZ(0) scaleY(1);
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
    50% {
        -webkit-transform: translateX(-25%) translateZ(0) scaleY(1.1);
        transform: translateX(-25%) translateZ(0) scaleY(1.1)
    }
    100% {
        -webkit-transform: translateX(0%) translateZ(0) scaleY(1);
        transform: translateX(0%) translateZ(0) scaleY(1)
    }
}

@-webkit-keyframes blink {
    50% {
        opacity: 0;
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}


/* animation and */


/* adaptive start */

@media(min-width:320px) and (max-width:767px) {
    .mainSection {
        background-image: url('../img/Mobile_375px.jpg');
    }
}

@media(min-width:768px) {
    .mainSection {
        background-image: url('../img/Tablet_768px.jpg');
    }
    .infoWrapp span {
        font-size: 22px;
    }
    .mainTitle {
        font-size: 68px;
    }
}

@media(min-width:1170px) {
    .mainSection {
        background-image: url('../img/Desktop_1440px.jpg');
    }
    .infoWrapp {
        top: 10%;
    }
}

@media(min-width: 1920px) {
    .mainSection {
        background-image: url('../img/Desktop_2880px.jpg');
    }
    .infoWrapp {
        top: 16%;
    }
    .mainTitle {
        font-size: 96px;
    }
    .infoWrapp span {
        font-size: 28px;
    }
}


/* adaptive end */