/********************************************************** */
/*********************** 404 page ************************* */
/**********************************************************

    TABLE OF CONTENT
    ========================

    01. Default CSS
    02. Main Section
    03. Animation
    04. Adaptive

/****************************************************** */
/*******************  01. Default CSS ***************** */
/****************************************************** */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: initial;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Bungee', cursive;
    font-size: 18px;
    line-height: 22px;
    color: #39aec8;
}


/****************************************************** */
/******************* 02. Main Section  **************** */
/****************************************************** */

.infoWrapp {
    position: absolute;
    z-index: 2;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoWrapp span {
    display: inline-block;
    font-family: 'Bungee', cursive;
    font-size: 12px;
    line-height: 22px;
    color: #39aec85c;
}

.secondDescription {
    margin-bottom: 8px;
}

.mainTitle {
    font-family: 'Bungee', cursive;
    font-size: 24px;
    line-height: 38px;
    color: #39aec8;
    padding: 0;
    margin: 0;
}

.mainSection {
    background-image: url('../img/Background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.button {
    font-family: 'Bungee', cursive;
    font-size: 16px;
    line-height: 18px;
    display: inline-block;
    color: #C31AFF;
    text-decoration: none;
    border: 2px solid #C31AFF;
    padding: 18px 32px;
}

.button:hover {
    color: #0F1F30;
    border: 2px solid #C31AFF;
    background-color: #C31AFF;
}

.waveWrapper {
    position: absolute;
    z-index: 1;
    overflow: hidden;
    top: 40%;
    width: 100%;
    height: 100px;
}

.traffic1 {
    width: 200%;
    height: 100%;
    background-size: 10% 100px;
}

.traffic2 {
    width: 200%;
    height: 100%;
    background-size: 10% 100px;
    opacity: 0.4;
}

.traffic3 {
    width: 200%;
    height: 100%;
    background-size: 10% 100px;
    opacity: 0.6;
}


/****************************************************** */
/******************* 03. Animation  **************** */
/****************************************************** */

.traffic1 {
    -webkit-animation: move_wave 10s linear infinite;
    animation: move_wave 10s linear infinite;
}

.traffic2 {
    -webkit-animation: move_wave2 7s linear infinite;
    animation: move_wave2 7s linear infinite;
}

.traffic3 {
    -webkit-animation: move_wave3 15s linear infinite;
    animation: move_wave3 15s linear infinite;
}

@-webkit-keyframes move_wave {
    0% {
        -webkit-transform: translateX(0) translateZ(0) scaleY(1);
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        -webkit-transform: translateX(-25%) translateZ(0) scaleY(1.1);
        transform: translateX(-25%) translateZ(0) scaleY(1.1)
    }
    100% {
        -webkit-transform: translateX(-50%) translateZ(0) scaleY(1);
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

@keyframes move_wave {
    0% {
        -webkit-transform: translateX(0) translateZ(0) scaleY(1);
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        -webkit-transform: translateX(-25%) translateZ(0) scaleY(1.1);
        transform: translateX(-25%) translateZ(0) scaleY(1.1)
    }
    100% {
        -webkit-transform: translateX(-50%) translateZ(0) scaleY(1);
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

@-webkit-keyframes move_wave2 {
    0% {
        -webkit-transform: translateX(0) translateZ(0) scaleY(1);
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        -webkit-transform: translateX(-25%) translateZ(0) scaleY(1.1);
        transform: translateX(-25%) translateZ(0) scaleY(1.1)
    }
    100% {
        -webkit-transform: translateX(-50%) translateZ(0) scaleY(1);
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

@keyframes move_wave2 {
    0% {
        -webkit-transform: translateX(0) translateZ(0) scaleY(1);
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        -webkit-transform: translateX(-25%) translateZ(0) scaleY(1.1);
        transform: translateX(-25%) translateZ(0) scaleY(1.1)
    }
    100% {
        -webkit-transform: translateX(-50%) translateZ(0) scaleY(1);
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

@-webkit-keyframes move_wave3 {
    0% {
        -webkit-transform: translateX(-50%) translateZ(0) scaleY(1);
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
    50% {
        -webkit-transform: translateX(-25%) translateZ(0) scaleY(1.1);
        transform: translateX(-25%) translateZ(0) scaleY(1.1)
    }
    100% {
        -webkit-transform: translateX(0%) translateZ(0) scaleY(1);
        transform: translateX(0%) translateZ(0) scaleY(1)
    }
}

@keyframes move_wave3 {
    0% {
        -webkit-transform: translateX(-50%) translateZ(0) scaleY(1);
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
    50% {
        -webkit-transform: translateX(-25%) translateZ(0) scaleY(1.1);
        transform: translateX(-25%) translateZ(0) scaleY(1.1)
    }
    100% {
        -webkit-transform: translateX(0%) translateZ(0) scaleY(1);
        transform: translateX(0%) translateZ(0) scaleY(1)
    }
}


/****************************************************** */
/******************* 04. Adaptive  **************** */
/****************************************************** */


/* Tablet */

@media(min-width:768px) {
    .infoWrapp span {
        font-size: 18px;
        line-height: 22px;
    }
    .mainTitle {
        font-size: 36px;
        line-height: 46px;
    }
    .secondDescription {
        margin-bottom: 16px;
    }
    .button {
        font-size: 16px;
        line-height: 18px;
        padding: 22px 44px;
    }
}


/* Normal desktop */

@media(min-width:992px) {
    .infoWrapp span {
        font-size: 22px;
        line-height: 28px;
    }
    .mainTitle {
        font-size: 46px;
        line-height: 60px;
    }
    .secondDescription {
        margin-bottom: 18px;
    }
    .button {
        font-size: 18px;
        line-height: 22px;
    }
}

@media(min-width: 1440px) {
    .mainTitle {
        font-size: 60px;
        line-height: 78px;
    }
    .infoWrapp span {
        font-size: 28px;
        line-height: 36px;
    }
}


/* Large desktop */

@media(min-width: 1920px) {
    .infoWrapp {
        top: 12%;
    }
    .mainTitle {
        font-size: 86px;
        line-height: 112px;
    }
    .secondDescription {
        margin-bottom: 22px;
    }
}